---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About Me";
const happy = true;
const finished = false;
const skills = ["Shitposting", "Adoring Cats", "Petting Cats", "Screwing up git commits", "Azure", "Being a husband"];
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{skillColor, fontWeight, textCase}}>.skill{color: var(--skillColor); font-weight: var(--fontWeight); text-transform: var(--textCase);}</style>
    <p>Eventually I'll have a lot more details here, for now deal with a lack of content.</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    
    {happy && <p>happy happy happyyyy.... (if I set the happy const to true this text shows up)</p>}
    
    {finished && <p>finished finished finiiiished... wait I'm not UGH if you see this technically the page is done</p>}
</BaseLayout>