---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import '../styles/global.css';
const pageTitle = "About Me";

const happy = true;
const finished = false;

const skills = ["Shitposting", "Adoring Cats", "Petting Cats", "Screwing up git commits", "Azure", "Being a husband"];
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/phoosymischievous.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
            }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
</head>
<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<h1>{pageTitle}</h1>

<p>Eventually I'll have a lot more details here, for now deal with a lack of content.</p>
<ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
{happy && <p>happy happy happyyyy.... (if I set the happy const to true this text shows up)</p>}
{finished && <p>finished finished finiiiished... wait I'm not UGH if you see this technically the page is done</p>}
</body>
</html>