---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Phoosy's {pageTitle}</h1>

    <p>I'm Phoosy and I'm learning super basic coding stuff outside of my usual wheelhouse of scripting and sysadmin duties.</p>

    <p>I'm a 30-something infosec analyst who is really enthusiastic about cats, memes, and cat memes. Also I like security stuff I guess.</p>
</BaseLayout>