---
import Social from './Social.astro';
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Follow me on other platforms:</p>
    <Social platform="bsky.app/profile" username="phoosy.bsky.social" name="Bluesky"/>
    <Social platform="Infosec.Exchange" username="@Phoosy" name="Infosec.Exchange" />
    <Social platform="Github.com" username="Phoosy" name="Github"/>
    <Social platform="X.com" username="PhoosyCat" name="Twitter"/>
</footer>
