---
console.log('This runs in your terminal, not the browser!');
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/phoosymischievous.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
</head>
<body>
<Header />
<slot />
<!-- This base layout is loaded by default on every page, <slot /> loads the contents unique to each .astro page-->
<Footer />
<script>
    import "../scripts/menu.js";
</script>
</body>
</html>